.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 60px;          
  width: 90%;  
  box-sizing: border-box;
  padding: 16px;   
  position: relative; 
}