@use "../index" as *;

.table-wrapper {
  width: 100%;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: auto;
  margin-bottom: 20px;
  @media (max-width: 600px) {
    font-size: small;
  }
}

.app-table {
  min-width: 100%;
  padding: 20px;
  border-collapse: collapse;
  background-color: $white-color;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  box-sizing: border-box;

  th,
  td {
    padding: 12px 20px;
    text-align: left;
    font-size: 0.9em;
  }
  th {
    background-color: solid $th-background;
    font-weight: 600;
    border-bottom: 1px solid $table-border;
  }
  tr:nth-child(even) {
    background-color: $table-child;
  }
  tr:hover {
    background-color: $table-hover;
  }
  td img {
    max-width: 50px;
    height: fit-content;
    display: block;
  }
  .table-action-btn {
    padding: 8px 8px;
    font-size: 0.9em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: $light-orange;
    color: $white-color;
    transition: background-color 0.2s;
    font-weight: 500;
    &:hover {
      background-color: $dark-orange;
    }
  }
}
.trash-icon:hover,
.info-icon:hover,
.edit-icon:hover {
  opacity: 50%;
}
.app-table td.icon-cell {
  padding-left: 8px;  // smanji sa 20px na 8px kako bi pomerio ikonicu levo
  padding-right: 8px; // možeš smanjiti i desni padding ako želiš
  /* ne menjaj ostalo jer već ima text-align:left na td */
}
.deleted-row {
  background-color: #a19e9e !important;
  color: #fff !important;
}

/* Stil za sam Pagination komponentu */
.MuiPagination-root {
  .MuiPagination-ul {
    display: flex;
    gap: 8px;
  }

  .MuiPaginationItem-root {
    min-width: 36px;  /* ista visina i širina kao select */
    height: 36px;
    font-size: 0.9em;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #f0f0f0;
    }

    &.Mui-selected {
      background-color: #ddd;
      font-weight: 600;
      cursor: default;
      color: #000;
    }

    &.MuiPaginationItem-previous,
    &.MuiPaginationItem-next {
      /* Override za strelice - u normalnom stanju */
      color: white;
      background-color: #1976d2; /* plava, promeni po potrebi */
      border: none;

      &:hover {
        background-color: #115293; /* tamnija plava */
      }
    }

    /* Kad su strelice onemogućene */
    &.Mui-disabled {
      color: #aaa !important;
      background-color: #eee !important;
      cursor: default;
      pointer-events: none;
    }
  }
}
